<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moodify - Real-Time Emotion Detection</title>
    <!-- 외부 CSS 파일 연결 -->
    <link rel="stylesheet" href="/static/css/style.css">
    <!-- Chart.js 라이브러리 -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Socket.IO -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <!-- Spotify Web Playback SDK -->
    <script src="https://sdk.scdn.co/spotify-player.js"></script>
</head>
<body>
    <header>
        <h1>Moodify</h1>
        <p>Real-Time Emotion Detection</p>
        <p>Analyze emotions in real-time using your webcam!</p>
    </header>
    <main>
        <button onclick="startDetection()">Start Emotion Detection</button>
        <p id="live-emotion-display"></p> <!-- 실시간 감정 표시 -->
        <p id="final-result"></p> <!-- 최종 감정 결과 -->
        <div class="chart-container">
            <canvas id="confidence-chart"></canvas>
            <canvas id="frequency-chart"></canvas>
        </div>
        <div id="playlist-recommendations" style="display:none;"></div><!-- 음악 추천 결과 -->
        <button id="togglePlay" style="display:none;">Play Recommended Songs</button><!-- 음악 재생 버튼 -->
    </main>
    <footer>
        <p>&copy; 2024 Moodify Project by Seonghwi Kim</p>
    </footer>
    <!-- 외부 JavaScript 파일 연결 -->
    <script src="/static/js/script.js"></script>
</body>
</html>
